* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.img-fluid {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 150%;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}

.img-fluid img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.custom-modal .modal-dialog {
  max-width: 1000px;
}

.flot_dropdown {
  width: 100%;
  height: 40px;
  background-color: #fff !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 46px;
}